<div class="row">
  <div class="col-lg-1 col-sm-1"></div>
  <div class="col-lg-10 col-sm-10">
    <div class="">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%#= render "devise/shared/error_messages", resource: resource %>

<!--        <div class="field">-->
<!--          <%#= f.label :'First Name' %><br />-->
          <%#= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
<!--        </div>-->
<!--        <div class="field">-->
<!--          <%#= f.label :'Last Name' %><br />-->
          <%#= f.text_field :last_name,  autocomplete: "last_name" %>
<!--        </div>-->
<!--        <div class="field">-->
<!--          <%#= f.label :'Block' %><br />-->
          <%#= f.email_field :email,  autocomplete: "email" %>
          <%#= f.select :block, options_for_select([['A'], ['B']]) %>
<!--        </div>-->
<!--        <div class="field">-->
<!--          <%#= f.label :'Flat' %><br />-->
          <%#= f.text_field :flate,  autocomplete: "flate" %>
<!--        </div>-->
<!--        <div class="field">-->
<!--          <%#= f.label :'Mobile Number' %><br />-->
          <%#= f.text_field :phone_number,  autocomplete: "phone_number" %>
<!--        </div>-->
<!--        <div class="field">-->
          <%#= f.label :image,"Image" %>
          <%#= f.file_field :image ,class:"ui button"%>
<!--        </div>-->

<!--        <div class="field">-->
<!--          <%#= f.label :email %><br />-->
          <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--        </div>-->

        <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<!--          <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>-->
        <%# end %>

<!--        <div class="field">-->
<!--          <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
          <%#= f.password_field :password, autocomplete: "new-password" %>
          <%# if @minimum_password_length %>
<!--            <br />-->
<!--            <em><%#= @minimum_password_length %> characters minimum</em>-->
          <%# end %>
<!--        </div>-->

<!--        <div class="field">-->
<!--          <%#= f.label :password_confirmation %><br />-->
          <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--        </div>-->

<!--        <div class="field">-->
<!--          <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />-->
          <%#= f.password_field :current_password, autocomplete: "current-password" %>
<!--        </div>-->

<!--        <div class="actions">-->
          <%#= f.submit "Update" %>
<!--        </div>-->
      <%# end %>





      ####jkjj
      <div class="row" style="text-align: center;padding: 2%">
        <div class="col-lg-12" style="border: 1px solid rgba(0,0,0,0.1);padding-top: 3%;padding-bottom: 5%;box-shadow: 1px 20px 20px 3px rgba(0,0,0,0.2)" id="">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
<!--            <div class="row">-->
<!--              <div class="col-lg-6 col-sm-6">-->
<!--                <div class="col-lg-1 col-sm-0"></div>-->
<!--                <div class="col-lg-4 col-sm-6" style="text-align: center;">-->
                  <%#if current_user.image.attached? %>
                    <%#= image_tag(current_user.image,style: "max-width:60%;max-height:80%;border: 2px solid rgba(0,0,0,0.3);padding:1%;border-radius:10px") %>
                  <%#end %>
<!--                </div>-->
<!--                <div class="col-lg-1 col-sm-0"></div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4" style="text-align: center">
                    <div class="" style="border: 2px solid rgba(0,0,0,0.3);padding: 2%;border-radius:5px ">
                      <%if current_user.image.attached? %>
                        <%= image_tag(current_user.image,style: "max-width:100%;max-height:100%;border: 2px solid rgba(0,0,0,0.3);padding:2%;border-radius:5px") %>
                        <%else %>
                        <%= image_tag("avatar/profile2.png",style: "max-width:100%;max-height:100%;border: 2px solid rgba(0,0,0,0.3);padding:2%;border-radius:5px") %>
                      <%end %>
                    </div>
                  </div>
                  <div class="col-lg-4"></div>
                </div>
              </div>
              <div class="col-lg-6"></div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <%#if current_user.image.attached? %>
                <%#= image_tag(current_user.image,style: "max-width:60%;max-height:80%;border: 2px solid rgba(0,0,0,0.3);padding:1%;border-radius:10px") %>
                <%#end %>
                <div class="field">
                  <!--                <%#= f.label :'First Name' %><br />-->
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",class: "col-12",style:"width:80%;height:40px",placeholder:"First Name" %>
                </div>
                <div class="field">
                  <!--                <%#= f.label :'Last Name' %><br />-->
                  <%= f.text_field :last_name,  autocomplete: "last_name" ,class: "col-12",style:"width:80%;height:40px",placeholder:"Last Name" %>
                </div>
                <div class="field" >
                  <div class="dropdown">
                    <em ><%= f.label :'Block' %></em>
                    <%#= f.email_field :email,  autocomplete: "email" %>
                    <%#= f.select :block, options_for_select([['A'], ['B']]) ,class:"dropdown-item",style:"border:3px solid black;font-weight:bold;background:rgba(250,50,250,0.1)" %>
                    <%= select_tag :block, options_for_select([['A'], ['B']]) ,class:"dropdown-item",style:"border:1px solid rgba(0,0,0,0.3);font-weight:bold;background:rgba(0,0,0,0.1);width:80%;height:40px;margin-left:10%",placeholder:"block" %>
                  </div>
                </div>
                <div class="field">
                  <!--                <%#= f.label :'Flat' %><br />-->
                  <%= f.text_field :flate,  autocomplete: "flate",class: "col-12",style:"width:80%;height:40px",placeholder:"Flat"  %>
                </div>
                <div class="field">
                  <!--                <%#= f.label :'Mobile Number' %><br />-->
                  <%= f.text_field :phone_number,  autocomplete: "phone_number",class: "col-12",style:"width:80%;height:40px",placeholder:"Phone Number"  %>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6" >
                <div class="field">
                  <%#= f.label :image,"Image" %>
                  <%= f.file_field :image ,class:"btn btn-primary",style:"width:80%;height:40px"%>
                </div>


                <div class="field">
                  <!--                <%#= f.label :email %><br />-->
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-12",style:"width:80%;height:40px",placeholder:"Email"  %>
                </div>

                <div class="field">
                  <%#= f.label :password %>
                  <% if @minimum_password_length %>
                    <em style="color:red;font-weight: bold">(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password",class: "col-12",style:"width:80%;height:40px",placeholder:"Password"  %>
                </div>

                <div class="field">
                  <!--                <%#= f.label :password_confirmation %><br />-->
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "col-12",style:"width:80%;height:40px",placeholder:"Password Conformation"  %>
                </div>

              </div>

              <!--              <div class="row">-->
              <div class="col-lg-6 col-sm-6">
                <div class="actions">
                  <%= f.submit "Update",class:"btn btn-success",style:"width:80%;height:40px" %>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="actions">
                  <%#= link_to "Log in",new_user_session_path,class:"btn btn-warning",style:"width:80%;height:40px" %>
                </div>
              </div>
              <!--              </div>-->

            </div>

          <% end %>
        </div>
      </div>




      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>

    </div>
  </div>
  <div class="col-lg-1 col-sm-1"></div>
</div>


