<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table>

  <thead>
    <tr>
      <th>Description</th>
      <th>Type</th>
      <th>Block</th>
      <th>Floor</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.description %></td>
        <td><%= complaint.type_of_property %></td>
        <td><%= complaint.block %></td>
        <td><%= complaint.floor %></td>
        <td><%= complaint.user %></td>
        <td><%= link_to 'Show', complaint %></td>
<!--        <td><%#= link_to 'Edit', edit_complaint_path(complaint) %></td>-->
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Complaint', new_complaint_path %>
