<%# @solved.each do |comp| %>
<!--  <tr>-->
<!--    <td><%#= comp.user.first_name + comp.user.last_name %></td>-->
<!--    <td><<%#= comp.block %>/td>-->
    <%#if comp.type_of_property=="Private" %>
<!--      <td>Flat: <%#= comp.floor %></td>-->
    <%#else %>
<!--      <td>Floor: <%#= comp.floor %></td>-->
    <%#end %>
<!--    <td><%#= comp.description %></td>-->
<!--    <td><%#= comp.type_of_property %></td>-->
    <%#if Feedback.exists?("complaint_id":comp.id) %>
<!--    <p>*****Thanks for giving feedback</p>-->
      <%#= link_to "View", complaint_feedback_path(comp,Feedback.where("complaint_id":comp.id)[0].id)%>
      <%#else %>
    <%#= link_to "Feedback",new_complaint_feedback_path(comp) %>
      <%#end %>
<!--  </tr>-->
<!--  </br>-->
<%#end %>
<style>
  span{
    font-weight: bold;
  }
</style>
<div class="container">
  <div class="row" style="padding: 2%">
    <div class="col-lg-1 col-sm-0"></div>
    <div class="col-lg-10 col-sm-12">
      <h2 style="text-align: center;font-weight: bold;color: rgba(0,0,250,0.5)">Solved Complaints</h2>
<!--      <div class="row">-->
        <% @solved.each do |solved| %>
          <div class="row" style="padding: 4%">
<!--           <div class="col-lg-12">-->
            <div class="col-lg-12">
              <div class="row" style="border: 10px solid rgba(0,255,0,0.1);padding: 2%;box-shadow: 3px 5px 5px 5px rgba(0,0,0,0.1)">
                <div class="col-lg-6 col-sm-6" style="text-align: center ;box-shadow: 10px 20px 20px 15px rgba(0,0,0,0.2);padding: 2%;border:1px solid rgba(255,0,255,0.2)">
                  <% if solved.image.attached? %>
                    <%= image_tag(solved.image,:class=> "rounded img-thumbnail",style: "width:100%,height:100%;text-align:center;padding-top:3%") %>
                  <%end %>
                </div>
                <div class="col-lg-6 col-sm-6"  style="text-align: left;font-weight: bold;font-size: 20px ">
                  <div class="col-lg-12" style="text-align: left;padding-top:20% ;padding-bottom: 10%">
                    <div class="col-lg-12" style="box-shadow: 10px 20px 20px 20px rgba(0,0,0,0.1);padding: 10%">
                      <h4><span> Ticket Id: </span><%= solved.id %></h4>
                      <h4><span> Description: </span><%= solved.description %></h4>
                      <h5><span>Type of Property: </span><%= solved.type_of_property %></h5>
                      <h5><span>Block: </span><%= solved.block %></h5>
                      <%if solved.type_of_property == 'Shared' %>
                        <h3><span>Floor:</span><%= solved.floor %></h3>
                      <%else %>
                        <h3><span>Flat:</span><%= solved.floor %></h3>
                      <%end %>
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12">
                    <%if Feedback.exists?("complaint_id":solved.id) %>
                        <p style="color:green">*****Thanks for giving feedback</p>
                    <%= link_to "View Feedback", complaint_feedback_path(solved,Feedback.where("complaint_id":solved.id)[0].id),class: "btn btn-warning"%>
                    <%else %>
                    <%= link_to "Feedback",new_complaint_feedback_path(solved) ,class: "btn btn-success"%>
                      <%end %>
                  </div>
                </div>

              </div>
            </div>
            <!--          </div>-->
          </div>
        <%end%>
<!--      </div>-->
    </div>
    <div class="col-lg-1 col-sm-0"></div>
  </div>
</div>