<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :aminite_id %>
    <%= form.text_field :aminite_id %>
  </div>

  <div class="field">
    <%= form.label :roomsofaminite_id %>
    <%= form.text_field :roomsofaminite_id %>
  </div>

  <div class="field">
    <%= form.label :from_time %>
    <%= form.number_field :from_time %>
  </div>

  <div class="field">
    <%= form.label :to_time %>
    <%= form.number_field :to_time %>
  </div>

  <div class="field">
    <%= form.label :date_of_the_day %>
    <%= form.date_select :date_of_the_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
