<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Aminite:</strong>
  <%= @booking.aminite %>
</p>

<p>
  <strong>Roomsofaminite:</strong>
  <%= @booking.roomsofaminite %>
</p>

<p>
  <strong>From time:</strong>
  <%= @booking.from_time %>
</p>

<p>
  <strong>To time:</strong>
  <%= @booking.to_time %>
</p>

<p>
  <strong>Date of the day:</strong>
  <%= @booking.date_of_the_day %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
