<style>
  #imgs{
    wdith:200px;
    height: 200px;

  }
</style>
<%= form_with(model: [@feedback], local: true,url: complaint_feedbacks_path) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<% c=Complaint.find(params['complaint_id']) %>
  <div class="row" style="padding-top:0%">
    <div class="col-lg-12 col-sm-12" style="text-align:center">
      <%= image_tag "avatar/pic4.png",style:"width:100px;height:100px;background-color:white;box-shadow:1px 2px 20px black"  %>
    </div>
  </div>
  <div class="row" style="padding-top: 2%">
    <div class="col-lg-12 col-sm-12" style="text-align: center">
      <h4><spam style="background-color: rgba(0,0,200,0.3);padding: 1%;letter-spacing: 2px">Feedback of Ticket ID :<%= c.id %></spam></h4>
    </div>
  </div>
  <div class="row" style="padding: 1%">
    <div class=""></div>
    <div class="col-lg-6 col-sm-6" style="text-align: center;padding: 3%;border: 0px solid black">
      <div class="row">
        <div class="col-lg-12 col-sm-12" style="padding: 1%;border:10px solid rgba(100,0,0,0.2)">
          <h4><%= c.description%></h4>
          <div class="row" style="padding: 2%">
            <div class="col-lg-12 col-sm-12" style="text-align: center;">
              <% if c.image.attached? %>
                <%= image_tag(c.image,:class=> "rounded img-thumbnail",id:"imgs") %>
              <%end %>
            </div>
          </div>
          <div class="row" style="padding: 3%;border:5px solid rgba(0,0,0,0.4);background-color: rgba(0,0,0,0.2);color:white">
            <div class="col-lg-3 col-sm-3">
              <h5 style="font-weight: bold"> block: <%= c.block %></h5>
            </div>
            <div class="col-lg-5 col-sm-5">
              <h5 style="font-weight: bold">Type: <%= c.type_of_property %></h5>
            </div>
            <div class="col-lg-4 col-sm-4">
              <%if c.type_of_property=='Shared' %>
                <h5 style="font-weight: bold">Floor: <%= c.floor %></h5>
              <%else %>
                <h5 style="font-weight: bold">Flat: <%= c.floor%></h5>
              <%end %>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6" style="padding: 3%;border:10px solid rgba(0,100,0,0.5)">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-sm-12" style="padding: 1%;border:0px solid black">
              <h6>Feedback by <spam style="font-weight: bold;letter-spacing: 2px">
                <%= current_user.email %>
              </spam></h6>
              <div class="field">
                <!--        <h5 style="font-weight: bold">Feedback by <%#= current_user.first_name %>(<%#= current_user.email %>)</h5>-->
                <%= form.text_area :description,style:"width:100%;height:200px;border:2px solid black",placeholder:"Feedback here... "%>
              </div>
              <div class="row">
                <col-lg-6 class="col-sm-6">
                  <div class="actions">
                    <%= form.submit class:"btn btn-warning"%>
                  </div>
                </col-lg-6>
                <col-lg-6 class="col-sm-6">
                  <%= link_to 'Back', solvedComplaints_path,class: "btn btn-dark",style: "width:100%;color:white"  %>
                </col-lg-6>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
<% end %>
