<%= form_with(model: [@feedback], local: true,url: complaint_feedbacks_path) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%#= params[""] %>
  <table>
    <tr>
      <%c=Complaint.find(params['complaint_id']) %>
      <td><%= c.description %></td>
      <td><%= c.block %></td>
      <td><%= c.image %></td>
      <td><%= c.type_of_property %></td>
      <td><%= c.floor %></td>
    </tr>
  </table>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <% form.label :complaint_id %>
    <% form.text_field :complaint_id,:value=> params['complaint_id'] %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <% form.text_field :user_id,:value=> current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
