<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: deepskyblue;
    color: white;
    padding: 8px;
  }
</style>
<div class="container">
  <div class="row" style="padding-top:2%">
    <div class="col-lg-12 col-sm-12" style="text-align:center">
      <%= image_tag "avatar/pic4.png",style:"width:100px;height:100px;background-color:white;box-shadow:1px 2px 20px black"  %>
    </div>
  </div>

  <div class="row" style="padding-top: 2%">
    <div class="col-lg-1 col-sm-1">

    </div>
    <div class="col-lg-4 col-sm-4" style="padding: 1%">
      <%= form_tag pravites_path, method: :get do %>
        <%= text_field_tag 'term', params[:term], placeholder: "Search by Ticket_Id,Type,Block,Floor",style:"width:60%;height:40px;border-radius:5%;border:3px solid rgba(0,0,0,0.3)" %>
        <%= submit_tag 'Search!',class:"btn btn-warning" %>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-4" style="padding: 1%">
      <%= link_to 'Add To Private Property', new_pravite_path ,class: "btn btn-warning",style: "width:100%;color:white"%>
    </div>
    <div class="col-lg-2 col-sm-2" style="padding: 1%">
      <%= link_to 'Back', maintenance_path ,class: "btn btn-dark",style: "width:100%;color:white"%>
    </div>
    <div class="col-lg-1 col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-sm-1" >

    </div>
    <div class="col-lg-10 col-sm-10">
      <p id="notice"><%= notice %></p>

      <h1>Private Property</h1>

      <table>
        <thead>
        <tr>
          <th>Id</th>
          <th>Block</th>
          <th>Flate</th>
          <th>Type of service</th>
          <th>User Added in Private</th>
          <th>Role</th>
          <th>Date</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <%i=0 %>
        <% @pravites.each do |pravite| %>
        <% i=i+1 %>
          <tr>
            <td><%= i %></td>
            <td><%= pravite.block %></td>
            <td><%= pravite.flate %></td>
            <td><%= pravite.type_of_service %></td>
            <td><%= User.find(pravite.user_id).email %></td>
            <td><%= User.find(pravite.user_id).role %></td>
            <td><%= (pravite.created_at).to_date %></td>
<!--            <td><%#= link_to 'Show', pravite %></td>-->
            <td><%= link_to 'Edit', edit_pravite_path(pravite),class: "btn btn-info" %></td>
            <td><%= link_to 'Destroy', pravite, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger",style: "color:white"%></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>



    </div>
    <div class="col-lg-1 col-sm-1">

    </div>
    <div class="row">

    </div>

  </div>
</div>
